.DS_Store

.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/

.ipynb_checkpoints/

*.log

.coverage
coverage/
htmlcov/

data/raw/*
!data/raw/.gitkeep

data/interim/*
!data/interim/.gitkeep

*.sqlite
*.sqlite3

.postgres/
postgres-data/
